@charset "UTF-8"; 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
img{vertical-align:bottom;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
nav ul, ul, ol{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
* html .clearfix{height:1px;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted inherit;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;margin:0;padding:0;}
input, select{vertical-align:middle;}
button, fieldset, form, input, label, legend, select, textarea{margin:0;padding:0;vertical-align:baseline;}
body{color:#333;font:12px "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;min-width:1010px;line-height:1;}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:117%;}
a{color:#009aff;text-decoration:none;}
a:link{color:#009aff;text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{color:#40b3ff;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;line-height:1;}
table{font-size:inherit;font:100%;}
body{
	background: #DCDCDC;
}
/* ++ Ngoài cùng*/
header {
	background-color:#fff;
    border-top: 0 solid #ff0000;
    padding: 12px 0px 6px;
    position: fixed;
    z-index: 700;
    width: 100%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0px;
    min-width: 1280px;
    border-bottom: 3px solid #9D9D9D;
    -webkit-transition: all 0.3s ease;
}
header.fixed {
    padding: 6px 0px 6px;
}

/* ++ Trong*/
.inner{
    width: 1280px;
    margin:0 auto;
}
.clearfix {
	min-height:1px;
}
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden;}


/* ++ noi dung trong cung*/
/* 1 . left part */
#headeLeftBox{
	padding:0;
	float:left;
}

/* 1.1 Welcome you! */
header #headeLeftBox p {
	display: block;
	padding-left:5px;
	color: red ;
	font-size: 20px;
	-webkit-transition: all 0.3s ease;
}

 /*1.2 Icon Image*/
#h1logo {
	padding:8px 5px 0 ;
	margin:0;
	min-height:36px;
}
#h1logo img{display:inline-block;}
#h1logo .logoSmall{
	margin:0 0 0 10px;
}


/* 2 . right part */
#headeRightBox{
	padding: 15px 0 0;
	float:right;
}

 /*2.1 Search Part*/
#searchFormHeaderWrap{
	float:left;
	margin:0 2px 0 0;
}
#searchFormHeader{
    width: 290px;
	border-radius: 4px;
    border: 1px solid #DDDDDD;
    letter-spacing:-.40em;
}
 /*2.1.1 Search Box*/
.keywordBox {
    height: 32px;
    width: 83%;
	font-size: 18px;
    background-color: #fff;
    line-height: 1;
    border: 1px solid #fff;
    letter-spacing: normal;
    padding-left: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
 /*2.1.1 Search button*/
.searchBtn{
	float: right;
	width:32px;
	background: #fff url('https://i.imgur.com/qMUhztu.png') 0 -362px no-repeat;
	height: 32px;
    border: 1px solid #fff;
    color: #333;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    letter-spacing: normal;
    vertical-align: top;
}
  /*2.2 Language*/
#userMenu{
	float: left;
	height: auto;
	margin: 0;
	padding: 1px 0 1px;
}
#userMenu li{
	height: auto;
	float:left;
	text-align:center;
	vertical-align:middle;
	margin-right:1px;
	font-weight:bold;
}
.userMenu_lang {
    width: 102px;
    border-right: 1px solid #ddd;
    position:relative;
}
#userMenu li a{
	padding:10px 0 10px 0;
	white-space: nowrap;
	width:100%;
	height:100%;
	color:#333;
	display:inline-block;
}
#userMenu li a:hover{
	color:#fff;
	background-color:#000;
}


/* Main Of Body */
/*--------------------------------------------------------------------------*/

 /*WRAP part -- best above*/
#wrap {
	padding:93px 0 0 0;
	height:auto;
}

 /*CONTENT part -- 2nd above*/
#contents{
	position:relative;
	width:1280px;
	margin:0 auto;
	float:none;
	background:#fff;
	border-radius: 8px;
}


 /*main CONTENT part -- 3rd above*/
#mainContent {
    float: left;
	width: 100%;
}

 /*innerType-top part -- 4th above*/
.innerType-top {
	padding:20px 5px 20px 15px;
}

 /*tileListWrap part -- 5th above */
.tileListWrap{
	margin:0 0 0 0;
}

 /*DD , UL part -- 6th above : not private CSS*/
 /*li of UL part -- 7th above  : one element */
.tileList li{
	width: 200px;
	height: 284px;
	float: left;
	margin-right:10px;
	margin-bottom:10px;
	overflow: hidden;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 3px 2px;
}
 /*a of li part -- 8th above*/
.tileList li a{
	position: relative;
	display: block;
	width: 100%;
	height:100%;
	background: #FFF;
}

/* a have 
+ h2 : Name manga
+ div class
	.pic : manga background
	.overlay : transent view
	.tileBadge icon-onsale : complete or not
	.bgHover :  efect when touch
*/

 /* 1. h2 part and span*/
.tileList li a h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	color: #fff;
	width: 200px;
	height: 62px;
	z-index: 45;
}
.tileList li a h2 span {
	position: absolute;
	bottom: 0;
	padding:12px;
}

 /*2 . pic */
.tileList li a .pic{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: auto;
	z-index: 30;
}
.tileList li a .pic img{
	width: 200px;
	height: auto;
}

 /*3 . overlay */
.tileList li a .overlay{
	position: absolute;
	bottom: 0;
	width: 200px;
	height: 284px;
	z-index: 35;
}

 /*4. tileBadge icon-onsale */
.tileList li a .onGoing {
	background: url('https://i.imgur.com/VWezB3V.png');
}
.tileList li a .completed {
	background: url('https://i.imgur.com/mg1iemO.png');
}
.tileList li a .tileBadge{
	position: absolute;
	top: 0;
	left: 0;
	width:62px;
	height:62px;
	z-index: 55;
}

 /* 5 . bgHover*/
.tileList li a .bgHover{
	position: absolute;
	top: 0;
	left:0;
	width: 200px;
	height: 284px;
	z-index: 60;
	background: url('https://i.imgur.com/wwLMamE.png') repeat 0 0;
	opacity: 0;
}
.tileList li a .bgHover:hover {
	opacity: 1;
}

 /*CSS for Detail manga*/
.divide-UIType-2colum{
	padding:0 15px 20px 20px;
}
.divide-UIType-2colum .divideLeft{
    width: 438px;
    padding: 20px 20px 0px 0;
	float: left;
	margin-left: 60px;
}
.divide-UIType-2colum .divideRight{
	width: 650px;
	float: left;
	padding: 20px 0 0 20px;
	/*background: url('http://cdn.comic-walker.com/pc/img/bg_devide_shadow.jpg') 0 0 no-repeat;*/
}
#detailInfoBox {
	display:table;
	width:100%;
}
#detailInfoBox .bookTitle{
	font-size: 28px;
	font-weight: bold;
	border-bottom: 2px dotted #ccc;
	margin:0 0 5px 0;
	line-height: 1.4;
	color: red;
}
#detailInfoInner{
	position: relative;
}
#detailInfoBox .detail_img{
	float:left;
	width:300px;
	margin:0 20px 0 0;
}
#detailInfoBox .detail_img img{
	max-width:300px;
}
#detailInfoBox .detail_info{
	float: left;
	width: 650px;
}

/*detail_infor have 2 part */
/*table mangaInformation*/
table.mangaInformation tr {
	vertical-align: top;
}

table.mangaInformation th {
	display: block;
    color: #272727;
    font-weight: 700;
    text-align: right;
    padding: 8px 20px;
    font-size: 18px;
}

table.mangaInformation td {
	padding: 8px 20px 8px 0;
	font-size: 18px;
	line-height: 150%;
}

/*ul 2: settingBtnBox */
#detailInfoBox .settingBtnBox {
	margin-bottom: 10px;
	margin-top: 15px;
}
#detailInfoBox .settingBtnBoxLeft{
	width: 200px;
    /*padding: 20px 20px 0px 0;*/
	float: left;
	margin-left: 20px;
}
#detailInfoBox .settingBtnBoxRight, #detailInfoBox .settingBtnBoxMid{
	width: 200px;
    /*padding: 20px 20px 0px 0;*/
	float: left;
	margin-left: 0px;
}
#detailInfoBox .settingBtnBox div{
	border: 5px solid #eee;
	width: 200px;
}
#detailInfoBox .settingBtnBox div a {
	display: block;
	padding: 12px 10px 12px 10px;
	border: 1px solid #539AB9;
	text-align: left;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
}
#detailInfoBox .settingBtnBoxMid a {
	background: linear-gradient(to bottom,  #ff8300 0%,#ce6a00 100%);
}
#detailInfoBox .settingBtnBoxLeft a {
	background: linear-gradient(to bottom,  #ff0000 0%,#cc0000 100%);
}
#detailInfoBox .settingBtnBoxRight a {
	background: linear-gradient(to bottom,  #0015ff 0%,#0015ff 100%);
}
i.arrowRight-w{
	width: 12px ;
	height: 17px;
	margin: 0 0 0 0;
	display: inline-block;
	float: right;
    background-image:url('https://i.imgur.com/gFsxJAF.png');
    background-repeat: no-repeat;
    background-position: right 0;
}







/*-----------------------------------------------------------------------------------*/
 /*CSS for Search page*/
.innerType-lowTop{
	padding:25px 115px 25px 115px;
}
.tileListWrap {
    margin: 0 0 20px 0;
}

/*Search result label*/
.innerType-lowTop .tileListWrap dt {
    padding: 0;
    border-bottom: 0px solid #dcdcdc;
    font-size: 14px;
    font-weight: bold;
}
.tileListWrap dt {
    margin: 0 0 10px 0;   
}
.comicPage .article_head {
    background-color: #ff0000;
}
.article_head {
    padding: 11px 0 9px 10px;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    font-weight: bold;
}
/*Number of search label*/
.serchSubhead {
    font-weight: bold;
    padding: 10px 0px 20px 0px;
    border-bottom: 2px dotted #ccc;
    font-size: 150%;
    margin-bottom: 5px;
}
/*Search Detail*/
#searchResult_list {
    font-size: 18px;
    padding: 100px 0;
    text-align: center;
}